* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open sans", sans-serif; }

p {
  font-family: "Open sans", sans-serif; }

h1 {
  margin-top: 0;
  margin-bottom: 0; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto; }

.inner-content {
  padding: 1%; }

button {
  border: none;
  background: #4CAF50;
  color: #fff;
  padding: 10px 20px; }

input {
  display: block; }

#app {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

section.header header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.1em;
  margin: 0 auto;
  border-bottom: 1px solid #444; }
  section.header header h1 {
    color: #888;
    font-size: 2.1em;
    margin-right: auto; }
  section.header header nav {
    color: #fff;
    font-size: .9em;
    font-weight: lighter; }
    section.header header nav ul {
      display: inline-block; }
      section.header header nav ul li {
        display: inline-block;
        margin-right: 1.2em;
        padding: 5px 10px;
        background: #555;
        font-size: 1.1em;
        border-radius: 5px; }

#pop-up {
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 1px solid gray;
  overflow-y: auto;
  background-color: #fff; }

#pop-up.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center; }

.main-body-element {
  flex: 1; }

.program-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .program-grid p {
    line-height: 1.2;
    font-size: .8em; }
  .program-grid div {
    color: #000;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row; }
    .program-grid div h3 {
      margin: 10px 0;
      text-align: left;
      margin-right: auto; }

#return-home {
  font-weight: 300;
  text-decoration: underline; }

.filter-controls {
  padding: 10px 15px;
  margin: 25px 0;
  background: #777;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .filter-controls label {
    display: inline;
    margin-right: 18px; }
    .filter-controls label input {
      display: inline; }

.key-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 35px 0; }
  .key-item .key-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em 0; }
  .key-item .main-info {
    flex: 1;
    padding: 15px; }
    .key-item .main-info h2 {
      margin: 0; }
    .key-item .main-info p {
      font-size: .8em;
      margin-top: 0; }
  .key-item .keyboard-shortcuts {
    flex: 1;
    display: flex; }
    .key-item .keyboard-shortcuts .result:nth-child(1) {
      border-right: 1px solid #888; }
    .key-item .keyboard-shortcuts .result {
      flex: 1;
      padding: 10px 15px;
      text-align: center; }
      .key-item .keyboard-shortcuts .result .key {
        color: #fff;
        padding: 5px;
        margin: 20px;
        margin: 10px;
        background: #555;
        font-weight: bold; }

.stats {
  background: #fff;
  padding: 5px;
  border-top: 1px solid #000; }
  .stats .stats-container {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    width: 30%;
    margin-left: auto;
    justify-content: space-around; }
    .stats .stats-container p {
      margin: 0; }

.nested-latest {
  background: #e8e8e8; }
  .nested-latest .inner-content .article {
    padding: 1em;
    display: flex;
    background: #fff;
    box-shadow: 2px 5px 9px -1px rgba(0, 0, 0, 0.5);
    margin: 25px 0; }
    .nested-latest .inner-content .article .article-content {
      flex: 1; }
    .nested-latest .inner-content .article img {
      max-width: 150px;
      margin-right: 1.2em; }

#rate {
  font-size: .5em;
  border: none;
  background: orange;
  color: #fff;
  padding: 5px 10px; }

.nested-details {
  background: #e6e6e6;
  padding: 20px 0; }
  .nested-details .program {
    margin: 20px;
    color: #555;
    padding: 15px 10px;
    text-decoration: underline; }
  .nested-details .detail-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 2px 5px 9px -1px rgba(0, 0, 0, 0.5);
    background: #fff; }
    .nested-details .detail-container .detail-header {
      display: flex;
      justify-content: space-between;
      margin-top: 20px; }
      .nested-details .detail-container .detail-header .col span.category {
        font-size: .8em; }
      .nested-details .detail-container .detail-header .col .details {
        flex: 4; }
      .nested-details .detail-container .detail-header .col .program {
        font-size: .8em; }
      .nested-details .detail-container .detail-header .col .right {
        float: right;
        flex: 1; }
      .nested-details .detail-container .detail-header .col .left {
        flex: 1; }
      .nested-details .detail-container .detail-header .details {
        text-align: center;
        font-size: 1.5em; }
        .nested-details .detail-container .detail-header .details h2, .nested-details .detail-container .detail-header .details p {
          margin: 0; }
    .nested-details .detail-container .key-info {
      display: flex; }
      .nested-details .detail-container .key-info .key {
        flex: 1;
        text-align: center;
        font-size: 1.4em; }
        .nested-details .detail-container .key-info .key span {
          padding: 10px 30px;
          color: #fff;
          background: #222; }
    .nested-details .detail-container .comments-list {
      margin: 40px 0;
      padding: 45px;
      background: #f1f1f1; }
      .nested-details .detail-container .comments-list .comment {
        border: 1px solid #eee;
        background: #fff;
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        position: relative; }
        .nested-details .detail-container .comments-list .comment #delete {
          padding: .4em .4em;
          position: relative;
          position: absolute;
          top: 0px;
          right: 0;
          background: #F44336; }
        .nested-details .detail-container .comments-list .comment img {
          max-width: 120px;
          margin-right: 15px; }
        .nested-details .detail-container .comments-list .comment .comment-content {
          padding: 5px; }
          .nested-details .detail-container .comments-list .comment .comment-content .username {
            font-size: .8em; }
    .nested-details .detail-container .comment-box {
      display: flex;
      flex-direction: column;
      padding: 45px; }
      .nested-details .detail-container .comment-box .comment-form {
        margin: 0 auto;
        max-width: 60%; }
        .nested-details .detail-container .comment-box .comment-form label {
          letter-spacing: 1px;
          font-size: .9em;
          font-weight: 100; }
        .nested-details .detail-container .comment-box .comment-form input {
          width: 100%;
          margin-bottom: 10px; }
        .nested-details .detail-container .comment-box .comment-form textarea {
          display: block;
          margin-bottom: 15px; }
        .nested-details .detail-container .comment-box .comment-form button {
          width: 100%; }

section.footer {
  background: #232323; }
  section.footer footer {
    width: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: 0 auto; }
    section.footer footer p {
      color: #eee;
      text-align: center;
      margin: 0; }

/*# sourceMappingURL=style.css.map */
