* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open sans", sans-serif; }

p {
  font-family: "Open sans", sans-serif; }

h1 {
  margin-top: 0;
  margin-bottom: 0; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto; }

.inner-content {
  padding: 1%; }

#app {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

section.header header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.1em;
  margin: 0 auto;
  border-bottom: 1px solid #444; }
  section.header header h1 {
    color: #888;
    font-size: 2.1em;
    margin-right: auto; }
  section.header header nav {
    color: #fff;
    font-size: .9em;
    font-weight: lighter; }
    section.header header nav ul {
      display: inline-block; }
      section.header header nav ul li {
        display: inline-block;
        margin-right: 1.2em;
        padding: 5px 10px;
        background: #555;
        font-size: 1.1em;
        border-radius: 5px; }

.main-body-element {
  flex: 1; }

.program-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .program-grid p {
    line-height: 1.2;
    font-size: .8em; }
  .program-grid div {
    color: #000;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row; }
    .program-grid div button {
      border: none;
      background: #4CAF50;
      color: #fff;
      padding: 10px 20px; }
    .program-grid div h3 {
      margin: 10px 0;
      text-align: left;
      margin-right: auto; }

.filter-controls {
  padding: 10px 15px;
  margin: 25px 0;
  background: #777;
  color: #fff; }

.key-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column; }
  .key-item .key-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px 0; }
  .key-item .main-info {
    flex: 1; }
    .key-item .main-info h2 {
      margin: 0; }
    .key-item .main-info p {
      font-size: .8em;
      margin-top: 0; }
  .key-item .keyboard-shortcuts {
    flex: 1;
    display: flex; }
    .key-item .keyboard-shortcuts .result:nth-child(1) {
      border-right: 1px solid #888; }
    .key-item .keyboard-shortcuts .result {
      flex: 1;
      padding: 10px 15px;
      text-align: center; }
      .key-item .keyboard-shortcuts .result .key {
        color: #fff;
        padding: 5px;
        margin: 20px;
        margin: 10px;
        background: #555; }

.stats {
  background: #222;
  color: #fff;
  padding: 5px; }
  .stats .stats-container {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    width: 30%;
    margin-left: auto;
    justify-content: space-around; }
    .stats .stats-container p {
      margin: 0; }

section.footer {
  background: #232323; }
  section.footer footer {
    width: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: 0 auto; }
    section.footer footer p {
      color: #eee;
      text-align: center;
      margin: 0; }

/*# sourceMappingURL=style.css.map */
